.header {
  display: block;
  background-color:teal;
  color: rgb(241, 234, 234);
  align-items: center; 
  align-content: center;
  text-align: center;
  text-indent: 2%;
  height: 15%;
}
.header2 {
  display: block;
  background-color:teal;
  color: rgb(241, 234, 234);
  align-items: center; 
  align-content: center;
  text-align: center;
  text-indent: 2%;
  height: 5%;
}

.recipename {
  display: block;
  color: teal;
  font-size: xx-large;
  font-weight: 600;
  padding-top: 2%;
  /* padding-bottom: 5%; */
}

.More_Info {
  display: block;
  font-family: 'Times New Roman', Times, serif;
}

.xbootstrap {
  display: block;
  font-weight: 100;
  padding-bottom: 2%;
}

.goimg {
  width: 10%;
  height: 15%;
}

